<p><%= @name %>,</p>

<p>
  We’re writing to confirm your purchase of a <%= @plan_name %> membership. Today at [purchaseTime] you charged your card ending in <%= @last4 %> $<%= @plan_cost %>. Your membership will auto renew on <%= @next_transaction %>. Upgrade, downgrade, or cancel your membership anytime at <%= link_to 'settings', @url %>.
</p>

<p>
  If you did not authorize this transaction please respond to this message immediately.
</p>
<p>
  We appreciate your business and are honored to support you in accomplishing your big goals.
</p>

<p>
  - Careeer.me team
</p>
