<p>Hi <%= @name %>,</p>

<p>
  We’re writing to confirm your purchase of a <%= @plan_name %> membership. Today, your card ending in <%= @last4 %> was charged $<%= @plan_cost %>.
</p>
<p>
  Your membership will auto renew on <%= @next_transaction %>. You can upgrade, downgrade, or cancel your membership <%= link_to 'here', @url %> at anytime.
</p>
<p>
  We appreciate your business and are honored to support you in accomplishing your big goals.
</p>
<p>
  - Careeer.me team
</p>
<br>
<p>
  <small>
    <i>
      If you did not authorize this transaction please respond to this message immediately.
    </i>
  </small>
</p>
