<p>Hi <%= @name %>,</p>

<p>
  We were unable to charge $<%= @plan_cost %> to your card ending in <%= @last4 %> for your <%= @plan_name %> subscription. Please update your billing information <%= link_to 'here', @url %>.
</p>
<p>
  We appreciate your business and are honored to support you in accomplishing your big goals.
</p>
<p>
  - Careeer.me team
</p>
