<p>Hi <%= @name %>,</p>

<p>
  Your subscription to <%= @plan_name %> will automatically renew on <%= @next_transaction %>, and your card ending in <%= @last4 %> will be charged $<%= @plan_cost %>.
</p>
<p>
  You can upgrade, downgrade, or cancel your membership <%= link_to 'here', @url %> at anytime.
</p>
<p>
  We appreciate your business and are honored to support you in accomplishing your big goals.
</p>
<p>
  - Careeer.me team
</p>
